:root {
  --color-base: #141414;
  --color-mesa-bg: #0f0e0e;
  --color-border: #f39c12;
  --color-texto: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Inter", sans-serif;
}

.contenedor {
  background-color: var(--color-base);
  width: 1300px;
  height: 650px;
  border-radius: 10px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
}

.mesa {
  background-color: var(--color-mesa-bg);
  border: 3px solid var(--color-border);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: var(--color-texto);
  cursor: pointer;
}

.numero {
  font-weight: bold;
  font-size: 20px;
}

.icono {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.estado {
  background-color: var(--color-border);
  color: var(--color-texto);
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  padding: 3px 10px;
  align-self: flex-end;
}

.barra-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.icono-barra {
  width: 35px;
  height: 35px;
  position: relative;
  left: 80px;
  top: 12px;
}

.boton-notificacion {
  background-color: #FFA500;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 14px;
  position: relative;
  left: 100px;
  cursor: pointer;
}

.salir {
  width: 45px;
  position: relative;
  left: -95px;
  top: 5px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.modal-content {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 10px #000;
}

.modal-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.modal-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 16px;
  margin-bottom: 25px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-buttons .guardar {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-buttons .cancelar {
  background-color: #000;
  color: white;
  border: 2px solid #f39c12;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
